/* rgb(95 3 128) */
/* 1050px */
/* all layout */
.top_bnr_bg .top_bnr,
header {
    background:yellow;
    margin:0 auto; width: 1050px;
}
/* header-sprite 그룹선택자 */
header .middle .logo h1,
header .middle #searchFrm fieldset #search_btn,
header .middle .lnb a,
header .menu_btm .all_nav .menu
{
    background:pink url(../images/kurly_img/icon_set2.png);
    display:inline-block; 
    width:36px; height:36px; text-indent:-9999px; 
}
/*  */
.top_bnr_bg {background:rgb(95 3 128);}
.top_bnr_bg .top_bnr {
    height:42px; 
    display:flex; flex-flow:row nowrap;
    align-items:center;
    justify-content:center;
    position:relative;
}
.top_bnr_bg .top_bnr .adver {}
.top_bnr_bg .top_bnr .adver em {}
.top_bnr_bg .top_bnr .close {
    position:absolute; right:0;
}
.top_bnr_bg .top_bnr .close .fa-xmaket {}
header {}
header .user_lnb {
    height: 35px; display:flex;
    flex-flow:row nowrap;
    justify-content:flex-end;
    align-items:center;
}
header .user_lnb .join {}
header .user_lnb .login {}
header .user_lnb .customer_service {}
header .middle {
    height:63px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .middle .logo {
    display:flex; flex-flow:row nowrap;
}
header .middle .logo h1 {
    background-position:0 -158px; width:82px; height:42px;
}
header .middle .logo .market {}
header .middle .logo .beauty {}
header .middle #searchFrm {
    border:1px solid rgb(95 3 128);
    border-radius:5px; width:350px;
}
header .middle #searchFrm fieldset {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
header .middle #searchFrm fieldset #search_txt {
}
header .middle #searchFrm fieldset #search_btn {background-position:0 -122px;}
header .middle .lnb {}
header .middle .lnb .map {background-position:0 -86px;}
header .middle .lnb .like {background-position:0 -50px;}
header .middle .lnb .cart {background-position:0 -14px;}
header .menu_btm {
    height:56px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .menu_btm .all_nav {}
header .menu_btm .all_nav .menu {background-position:0 0; width:16px; height:14px;}
header .menu_btm .all_nav span {}
header .menu_btm nav {}
header .menu_btm nav a {}
header .menu_btm .deliverry_info {}
header .menu_btm .deliverry_info em {}
header .menu_btm .deliverry_info em .fa-circle {
    font-size:1px;
    
}
header .menu_btm .deliverry_info span {}

